.navbar {

  background: var(--surface);

  padding: 18px 40px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow: var(--shadow);

}

.nav-links {

  display: flex;

  gap: 20px;

}

.nav-links a:hover {

  color: var(--primary);

}